


<%= form_tag search_path, class: "form-row align-items-center", method: :get do %>
    <div class="col-auto my-1">
      <%= text_field_tag :search, params[:search], class: "mr-sm-2", id: "auto_address" %>
    </div>
    <div class="col-auto my-1">
      <%= text_field_tag :start_date, params[:start_date], class: "mr-sm-2 checkin-date", placeholder: "Date d'arrivée", id: "start_date" %>
    </div>
    <div class="col-auto my-1">
     <%= text_field_tag :end_date, params[:end_date], class: "mr-sm-2 checkout-date", placeholder: "Date de départ", id: "end_date" %>
    </div>
    <div class="col-auto my-1 ">
      <%= submit_tag "C'EST PARTI !", class: "mr-sm-2 btn-flat" %>

    </div>

<% end %>


