
<%= simple_form_for(@establishment) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.input :statut %>
    <%= f.input :property_type %>
    <%= f.input :full_board %>
    <%= f.input :internet %>
    <%= f.input :parking %>
    <%= f.input :pet %>
    <%= f.input :household_linen %>
    <%= f.input :cleaning_package %>
    <%= f.input :address %>
    <%= f.input :home_type %>
    <%= f.input :room_type %>
    <%= f.input :address_detail %>
    <%= f.input :phone_number %>
    <%= f.input :establishment_name %>
    <%= f.input :pmr_room_type %>
    <%= f.input :email_resa %>
    <%= f.input :channel_manager %>
    <%= f.input :internal_contact %>
    <%= f.input :nurse_name %>
    <%= f.input :nurse_phone %>
    <%= f.input :nurse_email %>
    <%= f.input :nurse_address %>
    <%= f.input :medical_equipement_name %>
    <%= f.input :medical_equipement_phone %>
    <%= f.input :medical_equipement_email %>
    <%= f.input :medical_equipement_address %>
    <%= f.input :medical_equipement_support_name %>
    <%= f.input :medical_equipement_support_phone %>
    <%= f.input :medical_equipement_support_email %>
    <%= f.input :medical_equipement_support_address %>
    <%= f.input :listing_name %>
    <%= f.input :swimming_pool %>
    <%= f.input :suitable_swimming_pool %>
    <%= f.input :television %>
    <%= f.input :washing_machine %>
    <%= f.input :air_conditionning %>
    <%= f.input :kitchen %>
    <%= f.input :elevator %>
    <%= f.input :intercom %>
    <%= f.input :medical_bed %>
    <%= f.input :person_lift %>
    <%= f.input :hearing_handicap %>
    <%= f.input :physical_handicap %>
    <%= f.input :mental_handicap %>
    <%= f.input :visual_handicap %>
    <%= f.input :is_certified %>
    <%= f.input :suitable_shower %>
    <%= f.input :one_level %>
    <%= f.input :allow_immediate_booking %>
    <%= f.input :for_families %>
    <%= f.input :smokers_accepted %>
    <%= f.input :suited_for_event %>
    <%= f.input :beach %>
    <%= f.input :shop %>
    <%= f.input :city_center %>
    <%= f.input :public_transport %>
    <%= f.input :restaurant %>
    <%= f.input :night_life %>
    <%= f.input :flexible %>
    <%= f.input :is_tv %>
    <%= f.input :is_kitchen %>
    <%= f.input :is_air %>
    <%= f.input :is_heating %>
    <%= f.input :is_internet %>
    <%= f.input :active %>
    <%= f.input :smoker_accepted %>
    <%= f.input :is_breakfast %>
    <%= f.input :is_half_board %>
    <%= f.input :is_full_board %>
    <%= f.input :is_parking %>
    <%= f.input :is_cleaning_pack %>
    <%= f.input :is_pet %>
    <%= f.input :known_owner %>
    <%= f.input :is_channel_manager %>
    <%= f.input :breakfast_price %>
    <%= f.input :half_board_price %>
    <%= f.input :full_board_price %>
    <%= f.input :internet_price %>
    <%= f.input :parking_price %>
    <%= f.input :pet_price %>
    <%= f.input :household_linen_price %>
    <%= f.input :cleaning_package_price %>
    <%= f.input :arrival_min_time %>
    <%= f.input :arrival_max_time %>
    <%= f.input :leaving_min_time %>
    <%= f.input :leaving_max_time %>
    <%= f.input :price %>
    <%= f.input :deposit_amount %>
    <%= f.input :tax_amount %>
    <%= f.input :edited_commission %>
    <%= f.input :commission %>
    <%= f.input :fixed_commission %>
    <%= f.input :size %>
    <%= f.input :sink_height %>
    <%= f.input :door_width %>
    <%= f.input :latitude %>
    <%= f.input :longitude %>
    <%= f.input :external_calendar_url %>
    <%= f.input :description %>
    <%= f.input :details_resa %>
    <%= f.input :info_commission %>
    <%= f.input :summary %>
    <%= f.input :capacity %>
    <%= f.input :room %>
    <%= f.input :bath_rooms %>
    <%= f.input :bed %>
    <%= f.input :accommodate %>
    <%= f.input :bed_room %>
    <%= f.input :bath_room %>
    <%= f.input :instant %>
    <%= f.input :mobee_classification %>
    <%= f.input :stars_classification %>
    <%= f.association :user %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
